/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v8-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
       url('../fonts/poppins-v8-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v8-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins Light'), local('Poppins-Light'),
       url('../fonts/poppins-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('../fonts/poppins-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('../fonts/poppins-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../fonts/poppins-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v8-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('../fonts/poppins-v8-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #555555;
}

img[src="images/logo-8.svg"] {
  width: 65px;
  height: auto;
}

img[src="images/logo-white.svg"] {
  width: 65px;
  height: auto;
}

.navbar {
  width: 90%;
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
}

.navbar-nav {
  margin-left: auto!important;
}

.nav-link {
  font-size: 16px;
  color: #AEAEAE;
}

.font-size-footer {
  font-size: 14px;
  color: #FFFFFF;
}

.footer-content {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-dark-grey {
  background-color: #555555;
}


h2 {
  font-family: 'Poppins';
  margin-bottom: .2px;
  font-weight: bold;
  color: #555555;
}

h3 {
  font-weight: 500;
  font-family: 'Poppins';
  margin-bottom: .2px;
  font-size: 20px;
  color: #555555;
}

h5 {
  margin-bottom: .2px;
  color: #555555;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  font-family: 'Poppins';
  color: #AEAEAE;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}

p, li {
  font-family: 'Poppins';
  font-weight: normal;
  color: #555555;
}

hr {
  margin-top: .5px;
  margin-bottom: .5px;
  /* max-width: 150px; */
}

.image-caption {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 8px;
  color: #666666;
}

.header-text-decor {
  color: #007BE7;
}

.content-list-item {
  padding-top: 20px;
}

.content-list-item-top {
  padding-top: 20px;
}

.fas {
  padding-right: 8px;
}

.content-outer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.content-inner {
  width: 90%;
  margin: auto;
}

.content-expanded {
  width: 90%;
  margin: auto;
}

.content-splash {
  padding-top: 40px;
  padding-bottom: 70px;
}

.bg-rose {
  background-color: #FFE7E7;
}

.bg-light-grey {
  background-color: #F8F8F8;
}

.bg-light-blue {
  background-color: #F3F7FA;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
  font-family: "poppins";
  background-color: #00B7A6;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn:hover {
  background-color: #007BE7;
  color: #FFFFFF;
}

.btn-spacing {
  padding-top: 30px;
}

.btn-btm {
  border-radius: 0px;
}

.hr-footer {
  border-top: 2px solid #FFE7E7;
}

img[src="images/hb_device_header.png"] {
  padding-top: 40px;
  padding-bottom: 40px;
}

img[src="images/hb_splash.png"], img[src="images/kreation_header.png"], img[src="images/redbull_header.png"], img[src="images/header_point.png"], img[src="images/hb_device_header.png"]  {
  width: 100%;
  height: auto;
}

img[src="images/hb_device_single.png"], img[src="images/blog_mobile.png"], img[src="images/landing_mobile.png"] {
  width: 60%;
  height: auto;
  margin: auto;
  max-width: 300px;
}

img[src="images/hb_landing_mobile.png"] {
  width: 100%;
  height: auto;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

img[src="images/hb_cart_checkout.png"], img[src="images/hb_product_discovery.png"] {
  width: 100%;
  height: auto;
}

img[src="images/hb_mobile_wire_1.png"], img[src="images/hb_mobile_wire_2.png"], img[src="images/hb_mobile_wire_3.png"] {
  width: 80%;
  height: auto;
}

img[src="images/single_product_final.png"], img[src="images/account_final.png"], img[src="images/cart_final.png"] {
  width: 80%;
  height: auto;
}

.image-container-mobile {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.image-container-center {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.image-container-standard {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.roles, .deliverables {
  margin-bottom: 0px;
  padding-bottom: 10px;
  list-style: none;
}

.tools {
  list-style: none;
  margin-bottom: 0px;
  padding-top: 20px;
}

.deliverables {
  padding-top: 20px;
}

.data-point {
  font-weight: 700;
}

/* ABOUT PAGE */
img[src="images/about_illo_1.svg"] {
  width: 50%;
  height: auto;
  min-width: 208px;
  max-width: 265px;
}

img[src="images/brownstone.svg"] {
  width: 25%;
  height: auto;
  min-width: 97px;
  max-width: 130px;
}

img[src="images/devices_illo.svg"] {
  width: 50%;
  height: auto;
  min-width: 208px;
  max-width: 265px;
}

.image-about {
  text-align: center;
  padding-bottom: 20px;
}

.fab {
  color: white;
  padding-left: 7px;
  font-size: 20px;
}

img[src="images/cart_desktop.png"] {
  width: 100%;
  height: auto;
}

.content-inner-divider {
  padding-top: 20px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  .content-inner {
    width: 80%;
    margin: auto;
  }

  .tools {
    padding-top: 0px;
  }

  .deliverables {
    padding-top: 0px;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .roles, .deliverables {
    padding-bottom: 0px;
  }

  img[src="images/hb_mobile_wire_1.png"], img[src="images/hb_mobile_wire_2.png"], img[src="images/hb_mobile_wire_3.png"] {
    width: 100%;
  }

  img[src="images/single_product_final.png"], img[src="images/account_final.png"], img[src="images/cart_final.png"] {
    width: 100%;
  }

  .content-outer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .content-splash {
    padding-bottom: 100px;
  }

  .content-expanded {
    width: 90%;
    margin: auto;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }

  p, li {
    font-size: 18px;
  }

  img[src="images/hb_landing_mobile.png"] {
    width: 80%;
  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .content-inner-divider {
    padding-top: 60px;
  }

  img[src="images/hb_landing_mobile.png"] {
    width: 60%;
  }


  .navbar {
    width: 70%;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
  }

  .image-about {
    text-align: center;
    padding-bottom: 30px;
  }

  img[src="images/about_illo_1.svg"] {
    width: 30%;
    height: auto;
  }

  img[src="images/brownstone.svg"] {
    width: 15%;
    height: auto;
  }

  img[src="images/devices_illo.svg"] {
    width: 30%;
    height: auto;
  }

  .content-list-item {
    /* padding-top: 30px; */
  }

  .image-container-mobile {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  img[src="images/hb_device_single.png"], img[src="images/blog_mobile.png"], img[src="images/landing_mobile.png"] {
    width: 80%;
    height: auto;
    margin: auto;
    max-width: 350px;
  }

  .content-inner {
    width: 45%;
    margin: auto;
  }

  .content-expanded {
    width: 60%;
    margin: auto;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }

  .footer-content {
    width: 60%;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .content-expanded {
    /* width: 60%; */
    margin: auto;
  }

}
