/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v8-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
       url('../fonts/poppins-v8-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v8-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins Light'), local('Poppins-Light'),
       url('../fonts/poppins-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('../fonts/poppins-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('../fonts/poppins-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../fonts/poppins-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v8-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('../fonts/poppins-v8-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v8-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v8-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v8-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v8-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #555555;
}

img[src="images/logo-8.svg"] {
  width: 65px;
  height: auto;
}

img[src="images/logo-white.svg"] {
  width: 65px;
  height: auto;
}

.text-bold {
  font-weight: 500;
}

.text-bolder {
  font-weight: 600;
}

.navbar {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
  box-shadow: none;
}

.navbar-nav {
  margin-left: auto!important;
}

.nav-link {
  font-size: 16px;
  color: #AEAEAE;
}

.font-size-footer {
  font-size: 14px;
  color: #FFFFFF;
}

.footer-content {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-dark-grey {
  background-color: #333333;
}

.bg-grey {
  background-color: #C4C4C4;
}

.bg-blue {
  background-color: #217EBA;
}

.bg-dark-blue {
  background-color: #217EBA;
}

.box {
  position: relative;
  /* display: inline-block; */
}

.text {
  position: absolute;
  text-align: center;
}

.bg-green {
  background-color: #B0DBD1;
}

h2 {
  font-family: 'Poppins';
  margin-bottom: .2px;
  font-weight: bold;
  color: #555555;
}

h3 {
  font-weight: 600;
  font-family: 'Poppins';
  margin-bottom: 4px;
  font-size: 20px;
  color: #555555;
}

h5 {
  margin-bottom: .2px;
  color: #555555;
  font-weight: bold;
  font-size: 12px;
}

h6 {
  font-size: 16px;
  font-family: 'Poppins';
  color: #AEAEAE;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}

p, li {
  font-family: 'Poppins';
  font-weight: 300;
  color: #555555;
}

p {
  /* margin-bottom: 0px; */
}

.welcome-text {
  font-weight: 500;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.small-text {
  font-size: 16px;
}

.image-caption {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 8px;
  color: #666666;
}

.nav-item {
  list-style: none;
}

.light-text-1 {
  color: #FFFFFF;
}

.about-header {
  padding-bottom: 15px;
}

li {
  margin-bottom: 4px;
  /* line-height: 140%; */
  list-style-position: outside;
}


hr {
  margin-top: 4px;
  margin-bottom: 4px;
  max-width: 80px;
}

.index-container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.p-no-margin {
  margin-bottom: 0px;
}

.small-caption {
  font-style: italic;
  font-size: 14px;
}

.text-credits {
  padding-top: 10px;
}

/* .text-overlay {
  position: relative;
} */

.work-cover {
  position: relative;
  float: left;
}

.bg-kreation {
  background-color: #B0DBD1;
}

.bg-point {
  background-color: #F7F7F7;
}

.bg-honeybee {
  background-color: #F2D5CD;
}

.bg-vision {
  background-color: #88BEE1;
}

.work-text {
  align-items: center;
  padding: 5%;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}

.work-type {
  float: right;
  text-align: right;
  margin: auto;
  align-items: baseline;
}

.landing-splash {
  width: 100%;
  margin: auto;
  padding-bottom: 0px;
}

.work-name {
  float: left;
  z-index: 100;
  position: relative;
  text-align: left;
}

.row {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right:0px;
}

.container-fluid-spacing {
  padding-left: 0px;
  padding-right: 0px;
}

.box-text-hd {
  font-size: 95%;
}

.box-text-hd-2 {
  font-size: 75%;
  letter-spacing: 1px;
  border-bottom: 1px solid #545454;
  padding-bottom: .5px;
}

/* .hb-splash {
  background-image: url("../images/hb_splash.png");
  height: 500px;
  background-position: center;
} */

.fa-long-arrow-alt-right {
  padding-left: 5px;
}

.header-text-decor {
  color: #007BE7;
}

.content-list-item {
  padding-top: 20px;
}

.content-list-item-2 {
  padding-top: 8px;
}

.content-list-item-top {
  padding-top: 20px;
}

.fas {
  padding-right: 8px;
}

.content-outer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.content-inner {
  width: 90%;
  margin: auto;
}

.content-expanded {
  width: 90%;
  margin: auto;
}

.content-splash {
  padding-top: 40px;
  padding-bottom: 70px;
}

.bg-rose {
  background-color: #FFE7E7;
}

.bg-light-grey {
  background-color: #F8F8F8;
}

.bg-light-blue {
  background-color: #F3F7FA;
}

.btn {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #FFFFFF;
  font-family: "poppins";
  background-color: #A5A4A4;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  box-shadow: none;
}

.view-all:hover {
  filter: drop-shadow(0 1px 1px grey);
}

.splash-container {
  padding-top: 30px;
}

.col-sm-9, .col-sm-3 {
  /* padding-left: 0px; */
}

.btn:hover {
  background-color: #007BE7;
  color: #FFFFFF;
}

.btn-spacing {
  padding-top: 30px;
  text-align: center;
}

.btn-spacing-2 {
  padding-top: 20px;
  text-align: center;
}

.btn-btm {
  border-radius: 0px;
}

.hr-footer {
  border-top: 2px solid #FFE7E7;
}

img[src="images/hb_device_header.png"] {
  padding-top: 40px;
  padding-bottom: 40px;
}

img[src="images/hb_splash.png"], img[src="images/kreation_header.png"], img[src="images/redbull_header.png"], img[src="images/header_point.png"], img[src="images/hb_device_header.png"]  {
  width: 100%;
  height: auto;
}

img[src="images/kreation_header_2.png"] {
  width: 100%;
  height: auto;
}

img[src="images/hb_device_single.png"], img[src="images/blog_mobile.png"], img[src="images/landing_mobile.png"] {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 300px;
}

img[src="images/hb_landing_mobile.png"], img[src="images/kreation_home_full_mockup.png"] {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

img[src="images/hb_cart_checkout.png"], img[src="images/hb_product_discovery.png"], img[src="images/hb_mobile_wire_1.png"], img[src="images/hb_mobile_wire_2.png"], img[src="images/hb_mobile_wire_3.png"], img[src="images/kreation_sketch_1.png"], img[src="images/kreation_sketch_2.png"], img[src="images/kreation_sketch_3.png"], img[src="images/kreation_wireframe_1.png"], img[src="images/kreation_wireframe_2.png"],
img[src="images/kreation_wireframe_3.png"], img[src="images/single_product_final.png"], img[src="images/account_final.png"], img[src="images/cart_final.png"],
img[src="images/mobile_product_old.png"], img[src="images/cart_old.png"], img[src="images/get_started_old.png"],
img[src="images/kreation_landing_old.png"], img[src="images/kreation_welcome_old.png"], img[src="images/kreation_product_detail_old.png"],
img[src="images/kreation_sign_up.png"], img[src="images/kreation_home_2.png"], img[src="images/kreation_home.png"], img[src="images/juice_app_moodboard.png"],
img[src="images/point_dash_imac.png"], img[src="images/point_dashboard_main.png"], img[src="images/point_dash_detail_1.png"], img[src="images/point_dash_detail_2.png"],
img[src="images/style_guide_1.png"], img[src="images/style_guide_2.png"], img[src="images/point_product_hunt_1.png"], img[src="images/point_product_hunt_2.png"], img[src="images/point_twitter.png"], img[src="images/point_user_profile_main.png"], img[src="images/point_user_transactions.png"],
img[src="images/vision_header.png"], img[src="images/rb_1.png"], img[src="images/rb_2.png"], img[src="images/rb_3.png"], img[src="images/rb_4.png"],
img[src="images/vision_splash.png"], img[src="images/vision_landing_entire.png"], img[src="images/vision_devices.png"], img[src="images/vision_landing_old_1.png"], img[src="images/vision_landing_old_2.png"],
img[src="images/vision_home_mobile_full.png"], img[src="images/vision_about_mobile.png"], img[src="images/vision_blog.png"], img[src="images/vision_contact.png"], img[src="images/vision_device_1.png"], img[src="images/vision_device_2.png"],
img[src="images/vision_about.png"], img[src="images/vision_mobile_sample.png"], img[src="images/bg_light.png"] {
  width: 100%;
  height: auto;
}

img[src="images/kreation_landing_old.png"], img[src="images/kreation_welcome_old.png"], img[src="images/kreation_product_detail_old.png"],
img[src="images/vision_about.png"], img[src="images/vision_blog.png"], img[src="images/vision_landing_entire.png"], img[src="images/vision_contact.png"], img[src="images/vision_mobile_sample.png"] {
  filter: drop-shadow(1px 1px 20px #D2D2D2);
}

img[src="images/vision_landing_old_1.png"] {
  border: 1px solid #B0B0B0;
}

.image-container-mobile {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.image-container-center {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.image-container-standard {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.roles, .deliverables {
  margin-bottom: 0px;
  padding-bottom: 10px;
  list-style: none;
}

.tools {
  list-style: none;
  margin-bottom: 0px;
  padding-top: 20px;
}

.deliverables {
  padding-top: 20px;
}

.data-point {
  font-weight: 700;
}

/* ABOUT PAGE */
img[src="images/about_illo_1.svg"] {
  width: 50%;
  height: auto;
  min-width: 208px;
  /* max-width: 300px; */
}

img[src="images/brownstone.svg"] {
  width: 25%;
  height: auto;
  min-width: 97px;
  max-width: 130px;
}

img[src="images/devices_illo.svg"] {
  width: 50%;
  height: auto;
  min-width: 208px;
  max-width: 265px;
}

.image-about {
  text-align: center;
  padding-bottom: 20px;
}

.fab {
  color: white;
  padding-left: 7px;
  font-size: 20px;
}

img[src="images/cart_desktop.png"] {
  width: 100%;
  height: auto;
}

.content-inner-divider {
  padding-top: 20px;
}

.nav-footer {
  /* text-align: center; */
}

.navbar-brand {
  margin-right: 0px;
}

.logo {
  text-align: left;
}

.social {
  text-align: center;
}

.footer-text {
  color: #AEAEAE;
  font-size: 12px;
  padding-left: 15px;
}

.content-inner-footer {
  /* flex-direction: row-reverse; */
  padding-top: 40px;
  padding-bottom: 40px;
}

img[src="images/james.png"], img[src="images/joanna.png"] {
  width: 50%;
  height: auto;
}

img[src="images/point_dashboard_main.png"], img[src="images/point_dash_detail_1.png"], img[src="images/point_dash_detail_2.png"],
img[src="images/style_guide_1.png"], img[src="images/style_guide_2.png"], img[src="images/point_product_hunt_1.png"], img[src="images/point_product_hunt_2.png"], img[src="images/point_twitter.png"] {
  box-shadow: 1px 1px 20px #D2D2D2;
}

.content-about {
  align-items: center;
}

.content-switch {
  flex-direction: row-reverse;
}

.weho-data {
  background-image: url("../images/weho_bg.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
}

img[src="images/style_guide_1.png"] {
  transform: translateZ(3px);

}

.initial_designs {
  transform: translateZ(20px);
}

.extra-padding-bttm {
  padding-bottom: 10px;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  .add-padding-left {
    padding-left: 15px;
  }

  .add-padding-right {
    padding-right: 15px;
  }

  .content-inner {
    width: 80%;
    margin: auto;
  }

  .tools {
    padding-top: 0px;
  }

  .deliverables {
    padding-top: 0px;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .col-sm-4 {
    padding-left: 15px;
  }

  .image-about {
    padding-bottom: 0px;
  }

  .landing-splash {
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
  }

  .index-container {
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-left: 0px;
    padding-right: 0px;
  }

  .margin-right {
    margin-right: 10px;
  }

  .margin-left {
    margin-left: 10px;
  }

  .roles, .deliverables {
    padding-bottom: 0px;
  }

  img[src="images/hb_mobile_wire_1.png"], img[src="images/hb_mobile_wire_2.png"], img[src="images/hb_mobile_wire_3.png"] {
    /* width: 100%; */
  }

  img[src="images/single_product_final.png"], img[src="images/account_final.png"], img[src="images/cart_final.png"] {
    width: 100%;
  }

  .content-outer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .content-splash {
    padding-bottom: 100px;
  }

  .content-expanded {
    width: 90%;
    margin: auto;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }

  p, li {
    font-size: 18px;
  }

  .content-inner {
    width: 70%;
    margin: auto;
  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .extra-padding-bttm {
    padding-bottom: 15px;
  }

  .weho-data {
    padding-top: 170px;
    padding-bottom: 170px;
  }

  .margin-right {
    margin-right: 15px;
  }

  .margin-left {
    margin-left: 15px;
  }

  .content-list-item-2 {
    padding-top: 12px;
  }

  .btn-spacing {
    padding-top: 60px;
    text-align: center;
  }

  img[src="images/kreation_sign_up.png"], img[src="images/kreation_home_2.png"], img[src="images/kreation_home.png"] {
    width: 70%;
  }

  img[src="images/kreation_header_2.png"], img[src="images/hb_device_single.png"] {
    padding-top: 30px;
  }

  img[src="images/hb_landing_mobile.png"] {
    width: 80%;
  }

  .content-inner-divider {
    padding-top: 60px;
  }


  .navbar {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  img[src="images/about_illo_1.svg"] {
    width: 80%;
  }

  img[src="images/brownstone.svg"] {
    width: 45%;
  }

  img[src="images/devices_illo.svg"] {
    width: 30%;
  }

  .image-container-mobile {
    padding-bottom: 0px;
  }

  img[src="images/blog_mobile.png"], img[src="images/landing_mobile.png"] {
    width: 80%;
    max-width: 350px;
  }

  .content-inner {
    width: 58%;
  }

  .content-expanded {
    width: 80%;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }

  .footer-content {
    width: 60%;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .extra-padding-bttm {
    padding-bottom: 25px;
  }

  .margin-right {
    margin-right: 30px;
  }

  .margin-left {
    margin-left: 20px;
  }

  .content-expanded {
    width: 60%;
  }

  .navbar {
    width: 95%;
  }

  img[src="images/kreation_sign_up.png"], img[src="images/kreation_home_2.png"], img[src="images/kreation_home.png"] {
    width: 50%;
  }

  img[src="images/hb_landing_mobile.png"] {
    width: 70%;
  }

  .content-inner {
    width: 40%;
  }

  .content-outer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

}
